* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 15px;
  color: hsl(234, 12%, 34%);
  background-color: hsl(0, 0%, 98%);
}

.grid {
  height: 100%;
  padding: 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-areas:
    "intro intro intro"
    "left center right";
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 20% 80%;
  gap: 30px;
}

.intro {
  margin: 50px;
  grid-area: intro;
  text-align: center;
}

.intro h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.intro h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

p {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.box {
  padding: 30px;
  grid-template-rows: 15% 20% auto;
  display: grid;
  height: 250px;
  box-shadow: 1px 8px 20px hsl(229, 6%, 66%);
  border-radius: 5px;
}

.left {
  grid-area: left;
  border-top: 5px solid hsl(180, 62%, 55%);
}

.center {
  display: grid;
  grid-area: center;
  gap: 30px;
}

.box01 {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.box02 {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.right {
  grid-area: right;
  border-top: 5px solid hsl(212, 86%, 64%);
}

.box img {
  justify-self: flex-end;
  align-self: flex-end;
}


@media only screen and (min-width: 450px) {

  .grid {
  width: 450px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-areas: 
  "intro"
  "left"
  "center"
  "right";
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  }
  
  .grid img{
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media only screen and (min-width: 856px) {

  .grid {
  width: 856px;
  margin: auto;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "intro intro"
    "left center "
    "right center ";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  }
  
  .grid img{
    max-width: 100%;
    height: auto;
    display: block;
  }

}